<ion-content [fullscreen]="true">
    <img id="shape-top" src="../../../../assets/image/svg/shapes-top.svg" alt="">
    <ion-grid fixed>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-list>
          <div id="logo">
            <img src="../../../../assets/image/svg/LoginImg.svg" alt="">
          </div>
          <ion-row class="ion-text-center">
            <ion-col size="12" sizeXs="12" sizeSm="10" sizeMd="8" sizeLg="6" sizeXl="4" offsetSm="1" offsetMd="2"
              offsetLg="3" offsetXl="4">
                <app-input required formControlName="email" type="text" placeholder="Correo electronico"></app-input>
            
            </ion-col>
            <ion-col size="12" sizeXs="12" sizeSm="10" sizeMd="8" sizeLg="6" sizeXl="4" offsetSm="1" offsetMd="2"
            offsetLg="3" offsetXl="4">
            <app-input required formControlName="password" type="text" placeholder="Contraseña"></app-input>
            </ion-col>
            <ion-col size="12">
              <app-button text="Iniciar sesión" type="submit" [isEnable]="!loginForm.valid"></app-button>
            </ion-col>
        
          </ion-row>
          <ion-row>
            <ion-col size="12" class="ion-text-end">
              <ion-nav-link [routerLink]="['/signup']" routerLinkActive="router-link-active">Crear Cuenta</ion-nav-link>
            </ion-col>
          </ion-row>
        </ion-list>
      </form>
    </ion-grid>
    <img id="shape-bottom" src="../../../../assets/image/svg/shapes-bottom.svg" alt="">
</ion-content>